@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Exo", "sans-serif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form{
    box-shadow: 5px 5px 20px solid black;
}

.row{
    margin:12.5% 5px 5px 5px;
    border: 2px solid #f8c247;
}

#image{
    background: linear-gradient(0,  #2c3e50, #f8c247);
    display: flex;
    justify-content: center;
    align-items: center;
}

 form h2{
    display: inline-block;
    font-weight: bold;
    color: #223A66;
    border-bottom: 5px solid #f8c247;
}

form #user{
    color: #223A66;
    margin:1.5rem 0 1.5rem 0;
}

form #pass{
    color: #223A66;
    margin-bottom: 1rem;
}

form #fgPass, #reg, #signIn{
    color: #223A66;
    margin-bottom: 4px;
}

 .form-row{
     padding: 2rem;
     line-height: 2;
 }

 form #login_btn{
    margin-bottom: 10px;
    background-color:#f8c247;
    color: #2c3e50;
    font-weight: bold;
    font-size: 1.1rem;
}

a{
    color: #223A66;
}

a:hover{
    text-decoration: none;
    color: #f8c247;
}


 @media(max-width:576px) {
     
    .row{
        margin: 1rem;
    }

    .row #image{
        padding: 1rem;
        margin-bottom: 1rem;
    }

    form h2{
        font-size: 25px;
    }

    form #fgPass a, #reg a, #reg{
        font-size: 15px;
    }

    #image img{
        width: 30%;
        height: 100%;
    }
 }

 @media(max-width:992px) {

    .row{
        margin: 1rem;
    }
     
    .row #image{
        padding: 1rem;
        margin-bottom: 1rem;
    }

    #image img{
        width: 30%;
        height: 100%;
    }
 }